
<h2>About</h2>

<br>
<br>

<li><b>Awareness</b></li>
<br>
<li><b> Information</b></li>
<br>
<li><b> Teamwork</b></li>
<br>
<br>
<b><p>“Finding missing persons is a cooperative effort between police, media, missing person experts and advocates, private investigators and especially the public.”</p></b>

<!-- <p><i>&emsp;&emsp;&emsp;Lauth Investigations</i></p> -->
<br>
<br>
<p><b>Helpful Links</b></p>
<br>
<%= link_to "National Center for Missing & Exploited Children", "https://www.missingkids.org/home" %>

<br>

<%= link_to 'California Missing Persons', 'https://oag.ca.gov/missing' %>


<br>

<%= link_to 'National Missing and Unidentified Persons System (NamUs)', 'https://namus.nij.ojp.gov/' %>

<br>

<%= link_to 'U.S. Department of Justice', 'https://www.justice.gov/actioncenter/report-and-identify-missing-persons#:~:text=ACT%20IMMEDIATELY%20if%20you%20believe,800%2D843%2D5678).' %>

<br>

<%= link_to 'International Commission on Missing Persons', 'https://www.icmp.int/' %>

<br>
<br>
<br>
<br>

<%= link_to "Home", "home" %>

<br>

<%= link_to 'Search FBI', 'fbi' %>

<br>

<%= link_to 'Search Twitter', 'twitter' %>

<br>

<%= link_to 'Search Newsdata', 'newsdata' %>

<br>

<%= link_to 'Missing Files', 'missing_files' %>

<br>

<%= link_to 'Status Reports', 'status_reports' %>

<br>

<%= link_to 'Login/Logoff', 'session' %>


<br>
<br>

<%= javascript_pack_tag 'ajax_operations' %>
