
<h2>Home</h2>

<br>
<br>
<br>
<br>
<br>

<%= link_to 'Search FBI', 'fbi' %>

<br>

<%= link_to 'Search Twitter', 'twitter' %>

<br>

<%= link_to 'Search Newsdata', 'newsdata' %>

<br>

<%= link_to 'Missing People', 'missing_files' %>

<br>

<%= link_to 'Status Reports', 'status_reports' %>

<br>

<%= link_to 'Login/Logoff', 'session' %>

<br>

<%= link_to 'About', 'about' %>

<br>



<%= javascript_pack_tag 'ajax_operations' %>
