
<h2>Newsdata API Search</h2>


<br>
<br>

<div id='crud_operations_div'>
  <div class="field">
  <b><label for="newsdata_api_word">Choose a Search Option :</label></b>

    <select name="newsdata_api_word" id="newsdata_api_word">
      <option value="">--Please choose an option--</option>
      <option value="all">All</option>
      <option value="title">Title</option>
      <option value="link">Link</option>
      <option value="description">Description</option>
    </select>
  </div>

  <button id="newsdata_api_button" type="button">Newsdata Results</button>

  <br>

  <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="newsdata_results_div">
    </tbody>
  </table>
</div>

  <br>
  <br>

</div>

<br>


<%= link_to 'Home', 'home' %>

<br>

<%= link_to 'Search FBI', 'fbi' %>

<br>

<%= link_to 'Search Twitter', 'twitter' %>

<br>
<br>

<%= link_to 'Login/Logout', 'session' %>



<%= javascript_pack_tag 'ajax_operations' %>
