<h2>Help Find API User Session</h2>

<br>

<!-- Help Find API Create User -->
<b><p>Create User</p></b>
<div id="session_rest_operations_div">
  <label>User Email</label>
  <input id="create_user_email">

  <br>

  <label>User Password</label>
  <input id="create_user_password">

  <br>

  <button id="create_user_button" type="button">Create User</button>

  <br>

  <br>

  <br>

  <!-- Help Find API User Logon -->
  <b><p>User Logon</p></b>
  <label>User Email</label>
  <input id="user_log_on_email">

  <br>

  <label>User Password</label>
  <input id="user_log_on_password">

  <br>

  <button id="user_logon_button" type="button">Log on</button>

  <br>
  <br>

  <br>

  <!-- Help Find API User Logoff -->
  <b><p>User Logoff</p></b>
  <button id="user_logoff_button" type="button">Logoff</button>

</div>

<br>
<br>

<br>

  <b><p>Status:</p></b>
  <div id="ajax_results_div">

</div>

<br>
<br>
<br>
<br>
<br>
<br>


<%= link_to 'Home', '/ajax/home' %>

<br>

<%= link_to 'Search FBI', 'fbi' %>

<br>

<%= link_to 'Search Twitter', 'twitter' %>

<br>

<%= link_to 'Search Newsdata', 'newsdata' %>

<br>

<%= link_to 'Missing Files', 'missing_read' %>

<br>

<%= link_to 'Status Reports', 'status_reports_read' %>

<br>

<%= link_to 'Login/Logoff', 'session' %>

<br>

<%= link_to 'About', 'about' %>

<br>


<%= javascript_pack_tag 'session_operations' %>
