<h2>Help Find API User Session</h2>
<br>
<br>

<b>
<%= link_to 'Create User', 'create_session' %>
 <br>
<%= link_to 'Logon', 'logon_session' %>
 <br>
<%= link_to 'Logoff', 'logoff_session' %>
</b>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= link_to 'Home', '/ajax/home' %>

<br>

<%= link_to 'Search FBI', 'fbi' %>

<br>

<%= link_to 'Search Twitter', 'twitter' %>

<br>

<%= link_to 'Search Newsdata', 'newsdata' %>

<br>

<%= link_to 'Missing Files', 'missing_read' %>

<br>

<%= link_to 'Status Reports', 'status_reports_read' %>

<br>

<%= link_to 'Login/Logoff', 'session' %>

<br>

<%= link_to 'About', 'about' %>

<br>


<%= javascript_pack_tag 'session_operations' %>
