<h2>Help Find API User Session</h2>
<br>
<br>

<b>
<%= link_to 'Create User', 'ajax/create_session' %>
 <br>
<%= link_to 'Logon', 'ajax/logon_session' %>
 <br>
<%= link_to 'Logoff', 'ajax/logoff_session' %>
</b>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= link_to 'Home', 'ajax/home' %>

<br>

<%= link_to 'Search FBI', 'ajax/fbi' %>

<br>

<%= link_to 'Search Twitter', 'ajax/twitter' %>

<br>

<%= link_to 'Search Newsdata', 'ajax/newsdata' %>

<br>

<%= link_to 'Missing Files', 'ajax/missing_read' %>

<br>

<%= link_to 'Status Reports', 'ajax/status_reports_read' %>

<br>

<%= link_to 'Login/Logoff', 'ajax/session' %>

<br>

<%= link_to 'About', 'ajax/about' %>

<br>


<%= javascript_pack_tag 'session_operations' %>
