
<h2>Twitter API Search</h2>

<br>
<br>

<div id='crud_operations_div'>
  <div class="field">
    <b><label for="twitter_api_word">Choose a Search Option :</label></b>

      <select name="twitter_api_word" id="twitter_api_word">
        <option value="">--Please choose an option--</option>
        <option value="all">All</option>
        <option value="id">Id</option>
        <option value="text">Text</option>
      </select>
    
  </div>

  <button id="twitter_api_button" type="button">Twitter results</button>

  <br>

  <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody id="twitter_results_div">
    </tbody>
  </table>
</div>
  <br>
  <br>

</div>

<br>

<%= link_to 'Home', 'home' %>

<br>

<%= link_to 'Search FBI', 'fbi' %>

<br>

<%= link_to 'Search Newsdata', 'newsdata' %>

<br>
<br>

<%= link_to 'Login/Logout', 'session' %>

<%= javascript_pack_tag 'ajax_operations' %>
